[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/range-v3"]
	path = submodules/range-v3
	url = https://github.com/ericniebler/range-v3.git
